a:link {
  color: rgb(27, 27, 27);
}

a:hover {
  color: rgb(31, 31, 31);
}




#picShow img {
  transition: opacity 1.5s linear;
  opacity: .0;
  position:absolute;
  z-index: -1;
}
#picShow img.active {
  opacity:1;
}


.wrapper h1 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction:  row;
    align-items: center;
    justify-content: center;
}
.single-img {
    padding: 0 42px 42px;
}

.single-img:hover {
    opacity: .5;
    transition: .9s;
}

.text-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction:  row;
    align-items: center;
    justify-content: center;
}
.single-text {
    padding: 0 42px 42px;
    font-size: 40px;

}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  background: #BDD4F1;
  border-radius: 9px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
  padding: 0 10px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}
nav ul li:after {
  content: "";
  width: 0;
  height: 3px;
  background: #BAA287;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}


   .nine h1 {
    text-align:center; font-size:40px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
  .nine h1 span {
    margin-top: 30px;
      font-size:20px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:90;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 7px;

  }
  



.main-img {
  float: left;
  border: 100px dotted rgba(0, 0, 0, 0);
  margin: 0px 0px 15px 20px;
  bottom: 100;
  right: 0;
}

.main-text{
  text-align: center;
  font-size:26px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
  text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:90;
}
.secondary-text{
  text-align: center;
  font-size: 20px;
}
.lottiedel{
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 1830px;
}
.del-text{
  margin-top: 30px;
  margin-bottom: 70px;
  margin-right: 150px;
  margin-left: 1830px;

  font-size: 30px;
}



.main-img2 {
  float: right;
  border: 100px dotted rgba(0, 0, 0, 0);
  margin: 0px 0px 15px 20px;
  bottom: 100;
  right: 0;
}


.quality-text{
  text-align: center;
  font-size:26px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
  text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:90;
}
.quality-text2{
  text-align: center;
  font-size: 20px;
}






.nine2 h1 {
  text-align:center; font-size:70px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:300;
}
.nine2 h1 span {
  margin-top: 30px;
    font-size:30px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:90;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine2 h1 span:after,.nine2 h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 7px;
}


.nine3 h1 {
  text-align:center; font-size:30px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:300;
}
.nine3 h1 span {
  margin-top: 30px;
    font-size:20px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:90;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine3 h1 span:after,.nine3 h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 7px;
}



/* contact section */
.contact_section {
  position: relative;
}

.contact_section .heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.contact_section .heading_container hr {
  width: 20%;
  height: 1px;
  border: none;
  margin: 0;
  margin-right: 10px;
  background-color: #b7b7b7;
}

.contact_section .heading_container h2 {
  margin: 0;
}

.contact_section input::-webkit-input-placeholder {
  color: #000;
}

.contact_section input:-ms-input-placeholder {
  color: #000;
}

.contact_section input::-ms-input-placeholder {
  color: #000;
}

.contact_section input::placeholder {
  color: #000;
}

.contact_section input {
  border: none;
  outline: none;
  height: 45px;
  width: 45%;
  margin: 13px 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding-left: 15px;
}

.contact_section input::-webkit-input-placeholder {
  color: #ac9784;
  text-transform: uppercase;
  font-size: 15px;
}

.contact_section input:-ms-input-placeholder {
  color: #ac9784;
  text-transform: uppercase;
  font-size: 15px;
}

.contact_section input::-ms-input-placeholder {
  color: #ac9784;
  text-transform: uppercase;
  font-size: 15px;
  
}

.contact_section input::placeholder {
  color: #ac9784;
  text-transform: uppercase;
  font-size: 15px;
}

.contact_section input.message_input {
  height: 100px;
  width: 500px;
}

.contact_form-container {
  padding: 15px 15px 15px 0;
}

.contact_form-container button {
  border: none;
  background-color: #fd9e2e;
  color: #fff;
  padding: 10px 55px;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 35px;

}

.map_container {
  height: 350px;
  width: 1400px;
}

.map_container .map-responsive {
  height: 100%;
}

/* contact section */


.text-font{
  margin-top: 30px;
  font-size:30px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
  text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:90;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}
.houselottie{
  width: 300px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  right: 20px;
  bottom: 100px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


footer{
  color: rgb(54, 54, 54);
  background-image: linear-gradient(90deg, #abbee2, #baa287);
  position: relative;
  width: 100%;
  height: 100%;
  top:350px;
  border-top-left-radius: 70px;
  font-size: 0.8rem;
}

.logo-des {
  font-size: 22px;
  font-weight: bold;
}
.logo img {
  height: 95px;
  width: auto;
}

@media (max-width:960px) {
  footer{
    width: 100%;
    top: 120px;
  }
  
  .main2{
  margin: 50px;
 display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
}
  
  .logo{
    grid-column: 1/3;
  }
  
  .office{
    grid-column: 3/5;
  }
  .link{
    grid-column: 1/3;
  }
  
	
}





@media (max-width:660px){
  .main{
    gap:10px;
    margin: 0;

  }
  
  .icons{
    display: flex;
  }
  
 
  
  .row2{
    grid-column: 1/4;
  }
}







.manik{
  width: 120px;
}
.main2{
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr );
}
.row2{
 margin-top: 50px;
}
.footer-header{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.office-des{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.office a{
  text-decoration: none;
  color: #98A8F8;
  
}
.office a:hover{
  color: rgb(54, 54, 54);
}
.num{
  font-size: 1rem;
  font-weight: 500;
}

.link-des{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.link-des a{
  color: rgb(54, 54, 54);
  text-decoration: none;
  font-size: 1rem;
}

.link-des a:hover{
  color: #FB2576;
  transition: linear 0.3s;
}

.btn-know{
  text-decoration: none;
  background-color: rgb(54, 54, 54);
  padding: 10px;
  position: relative;
  top: 30px;
  background-color: transparent;
  border: 1px solid #98A8F8;
  color: #98A8F8;
  text-transform: uppercase;
  border-radius:10px;
  
}


.btn-know:hover{
  color: rgb(54, 54, 54); 
  background-color: #98A8F8;
  transition: linear 0.3s;
}
.subcribe{
  display: flex;
}
input[type=mail]{
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(54, 54, 54);
  background-color: transparent;
  font-size: 0.8rem;
}
.sub-icon{
  margin: 7px;
  margin-right: 15px;
  margin-left: 0;
  font-size: 1.5rem;
}
.ri-arrow-right-line{
  margin-left: 0;
  
}

.icons a{
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  font-size: 1.1rem;
  margin: 2%;
}


.social-icon{
  position: relative;
  top:2px;
}
.icons a:hover{
  color: #fff;
  background-color: #FB2576;
  border-color: #FB2576;
}
.newsletter-des{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.copyright{
  text-align: center;
}

hr{
  width: 90%;
  margin: 2px auto;
  opacity: 40%;
  border: 0.01px solid white;
  
}

.copyright p{
  padding: 20px;
}




body {
  padding-top: 80px;
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 400px;
  height: 300px;
  align-self: center;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{

  background: #b3c6c4;
}

.img-slider{
  position: relative;
  width: 1600px;
  height: 600px;
  margin: 10px;
  background: #b3c6c4;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}

.w3-container{
  text-align: center;
}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #7ea395;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(46, 51, 123);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.secondbg{
  background-color: #222;
}